services:
  osiris-backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: osiris-backend
    env_file:
      - ./.env.development
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    platform: linux/arm64
    container_name: osiris-be_postgres
    restart: always
    env_file:
      - ./.env.development
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - osiris-be_postgres_data:/var/lib/postgresql/data

volumes:
  osiris-be_postgres_data:
